.search {

  &__input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 88px;
    box-shadow: 2px 4px 11px 0 rgba(0, 0, 0, 0.17);
    background-color: #fff;
    padding: 10px 12px;
  }

  &__input {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    border: 0;
    color: #151516;
    width: 100%;
    padding: 0;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__submit {
    flex-shrink: 0;
    padding: 0;
    line-height: 0;

    &:hover {
      opacity: 0.5;
    }
  }
}
