@use "../../../scss/core/mixins/media" as *;
@use "../../../scss/config/core" as *;
@use "../../../scss/config/theme" as *;

.search {
  position: relative;
  width: 100%;

  &__input {
    font-size: 18px;
    line-height: 25px;
    border: 0;
    color: $text-color;
    width: 100%;
    padding: 18px 58px 17px 24px;
    background: rgba(234, 236, 238, 0.24);
    border-radius: 20px;

    &::placeholder {
      color: $color-secondary;
    }
  }

  &__btn {
    position: absolute;
    z-index: 2;
    padding: 0;
    border: none;
    line-height: 0;
    transition: 0.3s;
    right: 24px;
    top: 18px;

    &:hover {
      opacity: 0.5;
    }
  }
}
