<div id="modal-form" class="modal modal-form modal--theme-secondary" data-modal="form">
    <div class="modal__wrapper">
        <div class="modal__container">
            <div class="modal__bg-close" data-modal-close=""></div>
            <div class=" modal-form__box">
                <div class="modal-form__wrapper">
                    <button class="modal-form__close modal__close btn" data-modal-close="">x</button>
                    <div class="modal-form__content">
                      <p class="modal-form__info">Pop-up</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
