<div id="modal-form" class="modal modal-form modal--theme-secondary" data-modal="form">
  <div class="modal__wrapper">
    <div class="modal__container">
      <div class="modal__bg-close" data-modal-close=""></div>
      <div class="modal-form__box">
        <button class="modal-form__close" data-modal-close=""></button>
        <div class="modal-form__wrapper">
          <h2 class="title title--size-md mb-10 mb-40@lg">Заполните форму, и мы с Вами свяжемся в ближайшее время</h2>
          <form action="#">
            <label class="form-field">
              <input class="form-field__input" type="text" placeholder="Имя" name="yourname" required>
              <span class="form-field__label">Имя</span>
            </label>
            <label class="form-field">
              <input class="form-field__input tel" type="text" placeholder="Номер телефона" name="phone" required>
              <span class="form-field__label">Номер телефона</span>
            </label>
            <label class="form-field">
              <input class="form-field__input" type="text" placeholder="Почта" name="email" >
              <span class="form-field__label">Почта</span>
            </label>
            <label class="form-field">
              <input class="form-field__input" type="text" placeholder="Комментарий" name="message">
              <span class="form-field__label">Комментарий</span>
            </label>
            <button class="modal-form__btn btn btn--theme-primary btn-primary btn-primary--md"
              type="submit">Отправить</button>
          </form>
          <div class="modal-form__info">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9 11L12 14L22 4M21 12V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16"
                stroke="#333333" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p>Согласен на обработку персональных данных, ознакомлен  с пользовательским соглашением и политикой
              конфиденциальности</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
