@use "../../config/theme" as *;
@use "../../config/core" as *;
@use "../../../scss/core/mixins/media" as *;

.link {
  color: currentColor;

  &:not(.link-decor):hover {
      opacity: 0.5;
  }

  &-decor {
    color: currentColor;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      border-bottom: 1px solid currentColor;
      transform: scaleX(0);
      transition-duration: $td;
    }
    @media (pointer: fine) {
      &:hover {
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
  &--line {
    text-decoration: underline;
  }
}
