.pagination {
  padding-top: 40px;


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    flex-wrap: wrap;
  }

  li {
    flex: 0 0 auto;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      min-width: 33px;
      color: #222;
      padding: 6px 12px;
    }

    &.active a {
      border-radius: 5px;
      background-color: #f5f5f5;
    }

    &.disabled a {
      cursor: auto;
      pointer-events: none;
    }

    &.next,
    &.prev {
      border-radius: 5px;
      background-color: #f5f5f5;
    }
  }
}
