@use "../../core/mixins/media" as *;
@use "../../../scss/config/theme" as *;

// .btn--theme-primary {
//   color: $text-color;
//   background-color: $color-primary;

//   &:hover {
//     background-color: $color-primary-hover;
//     color: #fff;
//   }

//   &:active {
//     background-color: $color-primary-active;
//     color: #fff;
//   }
// }

.btn--theme-outline {
  border: 1px solid $text-color;
  color: $text-color;

  svg path {
    stroke: $text-color;
    transition: 0.3s;
  }

  &:hover {
    color: #fff;
    background: $color-primary-hover;
    border-color: $color-primary-hover;

    svg path {
      stroke: #fff;
    }
  }

  &:active {
    color: #fff;
    border-color: $color-primary-active;
    background: $color-primary-active;

    svg path {
      stroke: #fff;
    }
  }
}

// .btn--theme-secondary {
//     background-color: #050505;
//     color: #fff;

//     @media (pointer: fine) {
//         &:hover {
//             background-color: #403e3f;
//             color: #fff;
//         }
//         &:active {
//             background-color: #403e3f;
//             color: #fff;
//         }
//     }
//     &:active {
//         background-color: #403e3f;
//         color: #fff;
//     }
// }

//.btn--theme-gradient {
//    background: linear-gradient(77.13deg, #13C88D 31.01%, #10D979 72.42%);
//    box-shadow: 0px 4px 23px #11D979;
//    color: #fff;
//    .icon {
//        color: #fff;
//    }
//    &:after,
//    &:before {
//        content: '';
//        position: absolute;
//        left: 0;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        transition-duration: $td;
//        opacity: 0;
//    }
//    &:after {
//        background: linear-gradient(77.13deg, #0EBD84 31.01%, #13B567 72.42%);
//        z-index: 2;
//    }
//    &:before {
//        background: linear-gradient(77.13deg, #179B70 31.01%, #119354 72.42%);
//        z-index: 3;
//    }
//    @media (pointer: fine) {
//        &:hover {
//            box-shadow: 0px 4px 23px #0FAA5F;
//            &:after {
//                opacity: 1;
//            }
//        }
//        &:active {
//            box-shadow: 0px 4px 23px #11976B;
//            &:before {
//                opacity: 1;
//            }
//        }
//    }
//    &:active {
//        box-shadow: 0px 4px 23px #11976B;
//        &:before {
//            opacity: 1;
//        }
//    }
//}
