//@use "../../core/functions/size" as *;
@use "../../../scss/core/mixins/media" as *;
@use "../../../scss/config/core" as *;

.btn-primary {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  //*
  font-family: $font-thirdary;
  font-weight: 400;
  //text-transform: uppercase;
  //*
  border-radius: 10px;

  // &-icon {
  //   gap: 10px;
  // }

  // &--sm {
  //   font-size: 15px;
  //   line-height: 23px;
  //   padding: 12px 25px 11px;
  // }

  &--md {
    font-size: 13px;
    line-height: 16px;
    padding: 7px 18px 6px;

    @include media(md) {
      padding: 5px 12px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
