//@use "../../core/functions/size" as *;
@use "../../../scss/core/mixins/media" as *;
@use "../../../scss/config/core" as *;

.btn-primary {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  //*
  font-family: $font-primary;
  font-weight: 500;
  //text-transform: uppercase;
  //*
  //border-radius: 20px;

  // &._icon {
  //   justify-content: space-between;
  // }

  &--md {
    padding: 18px 10px;

    @include media(md) {
      padding: 25px;
      font-size: 20px;
    }

    @include media(lg) {
      //padding: 25px;
    }

    @include media(hg) {
      font-size: 24px;
      padding: 22px 20px;
    }
  }
}
