@use "../../config/core";
@use "../../../scss/core/mixins/media" as *;

// $btn-bg: #000;
// $btn-bg-hover: #585858;
// $btn-color: #fff;
// $btn-color-hover: #fff;
// $btn-color-outline: currentColor;

.btn {
  position: relative;
  text-decoration: none;
  transition-duration: core.$td;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border: none;

  &-more {
    svg {
      margin-left: 8px;

      @include media(md) {
        margin-left: 10px;
      }
    }
  }
}
