<header id="header" class="header wow fadeIn" data-scroll-offset>
  <div class="container">
    <div class="header__inner">

      <nav class="nav-menu m:hide m:show@lg" data-scroll-offset>
        <div class="nav-menu__inner" >
          <div class="nav-menu__items">
            <ul class="nav-menu__list">
              <li class="nav-menu__item">
                <a href="#" class="nav-menu__link active">Text</a>
              </li>
              <li class="nav-menu__item">
                <a href="#" class="nav-menu__link link-decor">Text</a>
              </li>
              <li class="nav-menu__item">
                <a href="#" class="nav-menu__link link-decor">Text</a>
              </li>
            </ul>
            <button class="btn btn-primary btn-primary--md btn--theme-primary nav-menu__btn m:center-x" data-trigger="#modal-form, modalOpen">Open pop-up button</button>
          </div>
        </div>
      </nav>

      <button class="burger--menu burger m:hide@lg" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
