<header class="header" data-scroll-offset>
    <div class="container">
      <div class="header__inner">

        <a href="#" class="logo">
          <img src="img/global/logo.png" alt="logo">
        </a>


        <nav class="nav-menu" id="nav">
          <div class="nav-menu__inner">
            <button class="nav-menu__toggle--close burger burger--close" type="button" aria-label="закрыть меню">
              <span></span>
              <span></span>
              <span></span>
            </button>


            <div class="menu" id="menu">
              <ul>
                <li><a href="#">Главная</a></li>
                <li class="menu__item-parent">
                  <a href="#">Наши новости</a>
                  <span></span>
                  <div class="hide">
                    <span class="back">Назад</span>
                    <ul>
                      <li><a href="#">Новость 1</a></li>
                      <li><a href="#">Новость 2</a></li>
                      <li><a href="#">Новость 3</a></li>
                      <li><a href="#">Новость 4</a></li>
                    </ul>
                  </div>

                </li>
                <li class="menu__item-parent">
                  <a href="#">Оборудование</a>
                  <span></span>
                  <div class="hide">
                    <span class="back">Назад</span>
                    <ul>

                      <li class="menu__item-parent">
                        <a href="#">Оборудование 1</a>
                        <span></span>
                        <div class="hide">
                          <span class="back">Назад</span>
                          <ul>
                            <li>
                              <a href="#">Оборудование 1-1</a>
                            </li>
                          </ul>
                        </div>

                      </li>


                      <li>
                        <a href="#">Оборудование 2</a>
                      </li>
                    </ul>
                  </div>

                </li>
              </ul>
            </div>

          </div>
        </nav>

        <button class="nav-menu__toggle burger" type="button" aria-label="открыть меню">
          <span></span>
          <span></span>
          <span></span>
        </button>

      </div>
    </div>
</header>
