@use "../../core/mixins/media" as *;
@use "../../../scss/config/core" as *;
@use "../../../scss/config/theme" as *;

.content {
  font-weight: 300;

  h2 {
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $font-color;

    @include media(md) {
      font-size: 25px;
      line-height: 150%;
    }
  }

  ul {
    padding-left: 20px;
  }
}
