@use "../../../scss/core/mixins/media" as *;
@use "../../../scss/config/core" as *;
@use "../../../scss/config/theme" as *;

.blog {

  &__title {
    @include media(md) {
      padding-right: 150px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @include media(md) {
      margin-top: -66px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    margin-bottom: 20px;

    @include media(lg) {
      margin-bottom: 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__item-img {
    --adaptive-box: 69%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__item-top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    line-height: 12px;

    @include media(md) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__item:not(.blog__item--big) {
    .title {
      margin-bottom: 0;

      @include media(md) {
        margin-bottom: 10px;
      }
    }

    .blog__item-date {
      color: $color-secondary;
    }

    .blog__item-img img {
      transition: 0.3s;
    }

    &:hover .blog__item-img img {
      transform: scale(1.02);
    }
  }

  &__item-info {
    margin-bottom: 0;

    @include media(md, max) {
      display: none;
    }
  }

  &__item--big {
    position: relative;
    grid-column: span 2;
    background-color: $color-primary;
    color: $color-thirdary;
    border-radius: 10px;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    min-height: 220px;

    @include media(md) {
      border-radius: 20px;
      font-size: 18px;
      line-height: 22px;
    }

    .title {
      color: #fff;
      margin-bottom: 0;
      align-self: center;
    }

    .blog__item-date {
      position: absolute;
      bottom: 16px;
      right: 26px;

      @include media(md) {
        bottom: 35px;
        right: 52px;
      }
    }

    .blog__item-link {
      position: absolute;
      z-index: 2;
      top: 16px;
      left: 26px;

      @include media(md) {
        top: 35px;
        left: 52px;
      }
    }
  }

  &__item-inner {
    display: flex;
    align-items: center;
    padding: 58px 26px;
    flex-grow: 1;

    @include media(md) {
      padding: 80px 52px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__item-link {

    &:hover {
      opacity: 0.5;
    }
  }

  .btn-more {
    align-self: center;

    @include media(md) {
      align-self: flex-end;
      order: -1;
      margin-bottom: 54px;
    }
  }
}
