
.form-checkbox {
  margin-bottom: 8px;

  &__label {
    position: relative;
    padding-left: 24px;

    &:before {
      content: "";
      display: block;
      border-radius: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid #858585;
      position: absolute;
      top: 1px;
      left: 0;
      z-index: 1;
      transition: 0.2s;
    }

    &:after {
      content: "";
      display: block;
      border-radius: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid #222;
      //background-image: url("../img/global/check.svg");
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
      position: absolute;
      top: 1px;
      left: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.2s;
    }

    &:has(input:checked):after {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
  }
}
