.box,
.box-center,
.box-center-x,
.box-center-y,
.box-reverse,
.box-y,
.box-y-reverse {
  --dp-flex: flex;
  display: var(--dp-flex)
}

.item {
  --dp-block: block;
  display: var(--dp-block)
}

.t\:100 {
  font-weight: 100
}

.t\:200 {
  font-weight: 200
}

.t\:300 {
  font-weight: 300
}

.t\:400 {
  font-weight: 400
}

.t\:500 {
  font-weight: 500
}

.t\:600 {
  font-weight: 600
}

.t\:700 {
  font-weight: 700
}

.t\:800 {
  font-weight: 800
}

.t\:900 {
  font-weight: 900
}

.t\:left {
  text-align: left
}

.t\:right {
  text-align: right
}

.t\:center {
  text-align: center
}

.t\:italic {
  font-style: italic
}

.t\:no-italic {
  font-style: normal
}

.t\:uppercase {
  text-transform: uppercase
}

.t\:transform-none {
  text-transform: none
}

.inline {
  --dp-inline: inline;
  display: var(--dp-inline);
  transform: rotate()
}

.box-reverse {
  flex-direction: row-reverse
}

.box-y {
  flex-direction: column
}

.box-y-reverse {
  flex-direction: column-reverse
}

.box-center {
  --justify: center;
  justify-content: var(--justify)
}

.box-center,
.box-center-y {
  --align: center;
  align-items: var(--align)
}

.box-center-x {
  --justify: center;
  justify-content: var(--justify)
}

.m\:inline {
  --dp-flex: inline-flex;
  --dp-grid: inline-grid;
  --dp-block: inline-block;
  --dp-inline: inline
}

.m\:block {
  --dp-flex: flex;
  --dp-grid: grid;
  --dp-block: block;
  --dp-inline: block
}

.m\:hide,
.m\:show\@lg,
.m\:show\@md,
.m\:show\@sm,
.m\:show\@xl {
  --dp-flex: none;
  --dp-grid: none;
  --dp-block: none;
  --dp-inline: none
}

.m\:show {
  --dp-flex: flex;
  --dp-grid: grid;
  --dp-block: block;
  --dp-inline: inline
}

.m\:left {
  margin-right: auto;
  margin-left: 0
}

.m\:left-0,
.m\:right {
  margin-right: 0
}

.m\:right {
  margin-left: auto
}

.m\:right-0 {
  margin-left: 0
}

.m\:top {
  margin-bottom: auto;
  margin-top: 0
}

.m\:bottom,
.m\:top-0 {
  margin-bottom: 0
}

.m\:bottom {
  margin-top: auto
}

.m\:bottom-0 {
  margin-top: 0
}

.m\:center {
  margin: auto
}

.m\:center-0 {
  margin: 0
}

.m\:center-x {
  margin-left: auto;
  margin-right: auto
}

.m\:center-x-0 {
  margin-left: 0;
  margin-right: 0
}

.m\:center-y {
  margin-top: auto;
  margin-bottom: auto
}

.m\:center-y-0 {
  margin-top: 0;
  margin-bottom: 0
}

.m\:relative {
  position: relative
}

.m\:static {
  position: static
}

.m\:nowrap {
  flex-wrap: nowrap
}

.m\:wrap {
  flex-wrap: wrap
}

.m\:wrap-reverse {
  flex-wrap: wrap-reverse
}

@include media(sm) {
  .t\:left\@sm {
    text-align: left
  }

  .t\:right\@sm {
    text-align: right
  }

  .t\:center\@sm {
    text-align: center
  }

  .m\:inline\@sm {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@sm {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@sm {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@sm {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@sm {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@sm,
  .m\:right\@sm {
    margin-right: 0
  }

  .m\:right\@sm {
    margin-left: auto
  }

  .m\:right-0\@sm {
    margin-left: 0
  }

  .m\:top\@sm {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@sm,
  .m\:top-0\@sm {
    margin-bottom: 0
  }

  .m\:bottom\@sm {
    margin-top: auto
  }

  .m\:bottom-0\@sm {
    margin-top: 0
  }

  .m\:center\@sm {
    margin: auto
  }

  .m\:center-0\@sm {
    margin: 0
  }

  .m\:center-x\@sm {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@sm {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@sm {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@sm {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@sm {
    position: relative
  }

  .m\:static\@sm {
    position: static
  }

  .m\:nowrap\@sm {
    flex-wrap: nowrap
  }

  .m\:wrap\@sm {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@sm {
    flex-wrap: wrap-reverse
  }
}

@include media(xs) {
  .t\:left\@xs {
    text-align: left
  }

  .t\:right\@xs {
    text-align: right
  }

  .t\:center\@xs {
    text-align: center
  }

  .m\:inline\@xs {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@xs {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@xs {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@xs {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@xs {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@xs,
  .m\:right\@xs {
    margin-right: 0
  }

  .m\:right\@xs {
    margin-left: auto
  }

  .m\:right-0\@xs {
    margin-left: 0
  }

  .m\:top\@xs {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@xs,
  .m\:top-0\@xs {
    margin-bottom: 0
  }

  .m\:bottom\@xs {
    margin-top: auto
  }

  .m\:bottom-0\@xs {
    margin-top: 0
  }

  .m\:center\@xs {
    margin: auto
  }

  .m\:center-0\@xs {
    margin: 0
  }

  .m\:center-x\@xs {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@xs {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@xs {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@xs {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@xs {
    position: relative
  }

  .m\:static\@xs {
    position: static
  }

  .m\:nowrap\@xs {
    flex-wrap: nowrap
  }

  .m\:wrap\@xs {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@xs {
    flex-wrap: wrap-reverse
  }
}

@include media(md) {
  .t\:left\@md {
    text-align: left
  }

  .t\:right\@md {
    text-align: right
  }

  .t\:center\@md {
    text-align: center
  }

  .m\:inline\@md {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@md {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@md {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@md {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@md {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@md,
  .m\:right\@md {
    margin-right: 0
  }

  .m\:right\@md {
    margin-left: auto
  }

  .m\:right-0\@md {
    margin-left: 0
  }

  .m\:top\@md {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@md,
  .m\:top-0\@md {
    margin-bottom: 0
  }

  .m\:bottom\@md {
    margin-top: auto
  }

  .m\:bottom-0\@md {
    margin-top: 0
  }

  .m\:center\@md {
    margin: auto
  }

  .m\:center-0\@md {
    margin: 0
  }

  .m\:center-x\@md {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@md {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@md {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@md {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@md {
    position: relative
  }

  .m\:static\@md {
    position: static
  }

  .m\:nowrap\@md {
    flex-wrap: nowrap
  }

  .m\:wrap\@md {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@md {
    flex-wrap: wrap-reverse
  }
}

@include media(lg) {
  .t\:left\@lg {
    text-align: left
  }

  .t\:right\@lg {
    text-align: right
  }

  .t\:center\@lg {
    text-align: center
  }

  .m\:inline\@lg {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@lg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@lg {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@lg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@lg {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@lg,
  .m\:right\@lg {
    margin-right: 0
  }

  .m\:right\@lg {
    margin-left: auto
  }

  .m\:right-0\@lg {
    margin-left: 0
  }

  .m\:top\@lg {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@lg,
  .m\:top-0\@lg {
    margin-bottom: 0
  }

  .m\:bottom\@lg {
    margin-top: auto
  }

  .m\:bottom-0\@lg {
    margin-top: 0
  }

  .m\:center\@lg {
    margin: auto
  }

  .m\:center-0\@lg {
    margin: 0
  }

  .m\:center-x\@lg {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@lg {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@lg {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@lg {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@lg {
    position: relative
  }

  .m\:static\@lg {
    position: static
  }

  .m\:nowrap\@lg {
    flex-wrap: nowrap
  }

  .m\:wrap\@lg {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@lg {
    flex-wrap: wrap-reverse
  }
}

@include media(xl) {
  .t\:left\@xl {
    text-align: left
  }

  .t\:right\@xl {
    text-align: right
  }

  .t\:center\@xl {
    text-align: center
  }

  .m\:inline\@xl {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@xl {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@xl {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@xl {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@xl {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@xl,
  .m\:right\@xl {
    margin-right: 0
  }

  .m\:right\@xl {
    margin-left: auto
  }

  .m\:right-0\@xl {
    margin-left: 0
  }

  .m\:top\@xl {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@xl,
  .m\:top-0\@xl {
    margin-bottom: 0
  }

  .m\:bottom\@xl {
    margin-top: auto
  }

  .m\:bottom-0\@xl {
    margin-top: 0
  }

  .m\:center\@xl {
    margin: auto
  }

  .m\:center-0\@xl {
    margin: 0
  }

  .m\:center-x\@xl {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@xl {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@xl {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@xl {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@xl {
    position: relative
  }

  .m\:static\@xl {
    position: static
  }

  .m\:nowrap\@xl {
    flex-wrap: nowrap
  }

  .m\:wrap\@xl {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@xl {
    flex-wrap: wrap-reverse
  }
}

@include media(hg) {
  .t\:left\@hg {
    text-align: left
  }

  .t\:right\@hg {
    text-align: right
  }

  .t\:center\@hg {
    text-align: center
  }

  .m\:inline\@hg {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline
  }

  .m\:block\@hg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block
  }

  .m\:hide\@hg {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none
  }

  .m\:show\@hg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline
  }

  .m\:left\@hg {
    margin-right: auto;
    margin-left: 0
  }

  .m\:left-0\@hg,
  .m\:right\@hg {
    margin-right: 0
  }

  .m\:right\@hg {
    margin-left: auto
  }

  .m\:right-0\@hg {
    margin-left: 0
  }

  .m\:top\@hg {
    margin-bottom: auto;
    margin-top: 0
  }

  .m\:bottom\@hg,
  .m\:top-0\@hg {
    margin-bottom: 0
  }

  .m\:bottom\@hg {
    margin-top: auto
  }

  .m\:bottom-0\@hg {
    margin-top: 0
  }

  .m\:center\@hg {
    margin: auto
  }

  .m\:center-0\@hg {
    margin: 0
  }

  .m\:center-x\@hg {
    margin-left: auto;
    margin-right: auto
  }

  .m\:center-x-0\@hg {
    margin-left: 0;
    margin-right: 0
  }

  .m\:center-y\@hg {
    margin-top: auto;
    margin-bottom: auto
  }

  .m\:center-y-0\@hg {
    margin-top: 0;
    margin-bottom: 0
  }

  .m\:relative\@hg {
    position: relative
  }

  .m\:static\@hg {
    position: static
  }

  .m\:nowrap\@hg {
    flex-wrap: nowrap
  }

  .m\:wrap\@hg {
    flex-wrap: wrap
  }

  .m\:wrap-reverse\@hg {
    flex-wrap: wrap-reverse
  }
}

