@use 'base/index';
//*
@use 'elements/index'as index2;
//*
@use 'animation/index'as index3;
//*
@use 'typography/index'as index4;
//*
@use 'burger/burger';
@use 'nav-menu/nav-menu';
//@use 'menu/menu';
//*
@use 'btn/index' as index6;
//*
@use 'social/social';
//* бегущая строка
//@import 'ticker/ticker'
//*
@use 'search/search';

//*
@use 'form/index'as index10;
