// Контрольные точки для микса media()
$media-breakpoints: (
    //'xm': 375,
    'sm': 375,    //* Phablet
    'xs': 640,    //*
    //*
    'md': 768,    //* Tablet
    'lg': 992,   //* Laptop
    //*
    'xl': 1440,   //* xLaptop

    //'hg': 1480,   //* Desktop
    //'xhg': 1600,
    'hd': 1920,   //* fullHD
);
