//*
$font-primary: "Roboto", sans-serif;
//$font-secondary: "Playfair Display SC", sans-serif;
//$font-thirdary: "Nexa Script", sans-serif;
//* Размеры шрифта
$font-size:(
    'default':  size(18),
    'lg':       size(28),
);
//* Глобальные настройки (body)
$global-settings:(
    'font': $font-primary,
    'line-height': 1.61,
    'font-weight': 400,
    'color': #fff,
    'bg': #fff
);

//* базавая настройка скорости анимаций
$td: 400ms;

//* Размеры макета (дизайн макета):
$layout-size-min: 320;
$layout-size-max: 1920;



//* Требуется для работы функции size-clamp, rem
//* src\scss\core\functions\_size.scss
//* src\scss\layout\_root.scss
//?                                                                                               тут
//* Учавствует в calc(50px + (100 - 50) * ((var(--size-window) - var(--width-window-px)) / (#{$layout-size} - var(--width-window))));
