//*

//*
$columns: 12;
//*
$grid-gap: (
    'default': (
        'gap-x': size(10),
        'gap-y': size(10),
        'container-gap': size(10),
    ),
    // 'sm': (
    //     'gap-x': size(20),
    //     'gap-y': size(20),
    //     'container-gap': size(20),
    // ),
    'lg': (
        'gap-x': size(20),
        'gap-y': size(20),
        'container-gap': size(20),
    )
);

//* Размеры контайнера (.container)
$container-max-width: (
    'sm': 440px,    //* 480
    'xs': 520px,    //* 640
    'md': 720px,    //* 768
    'lg': size(1210),    //* 1024
    //'xl': size(1220)    //* 1280
);

