$color-primary: #304352;
$color-primary-hover: rgba($color: $color-primary, $alpha: 0.8);
$color-primary-active: rgba($color: $color-primary, $alpha: 0.8);

$font-color: #304352;
$text-color: #304352;
$color-secondary: #929292;
$color-thirdary: #e8e8e8;

$color-white: #ffffff;
$bg-color: $color-white;

