$color-extra1: #bbc6ca;
$color-extra2: #1f3869;
$color-iskra-black: #1d1d1b;
$color-iskra-grey: #a8a8a7;
$color-iskra-primary: #1c4585;
$color-iskra-secondary: #cb133b;
$color-sputnik-primary: #0e4b94;
$color-sputnik-grey: #ccc;
$color-sputnik-black: #333;


$color-primary: $color-sputnik-primary;
$color-primary-hover: rgba($color: $color-sputnik-primary, $alpha: 0.8);
$color-primary-active: rgba($color: $color-sputnik-primary, $alpha: 0.8);





