@use "../../../scss/config/theme" as *;
@use "../../../scss/core/mixins/media" as *;

.burger {
  --dp-flex: flex;
  display: var(--dp-flex);
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  padding: 0;
  border: 0;
  flex-shrink: 0;

  span {
    display: block;
    transition: all 0.2s ease 0s;
    position: absolute;
    top: calc(50% - 1.5px);
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: #000;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(3) {
      top: auto;
      bottom: 0;
    }
  }

  &.burger--close span {
    transform: scale(0);
    background: #000;

    &:nth-child(1) {
      transform: rotate(-45deg);
      top: calc(50% - 1.5px);
    }

    &:nth-child(3) {
      transform: rotate(45deg);
      bottom: calc(50% - 1.5px);
    }
  }
}


