@use "../../core/mixins/media" as *;
@use "../../../scss/config/theme" as *;

.nav-menu {

  @include media(xl, max) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -105%;
    height: auto;
    z-index: 899;
    transition: all 0.3s;
  }

  &.nav-menu--open {
    right: 0;

    .nav-menu__inner {
      transition: all 0.3s;
      box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    }
  }

  &__inner {

    @include media(xl, max) {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      background-color: #fff;
      height: 100%;
      min-height: 100vh;
      overflow: auto;
      box-shadow: none;
      padding: 32px 40px;
      gap: 40px;
    }

    @include media(md, max) {
      max-width: 360px;
      padding: 22px 20px;
    }

    @include media(sm, max) {
      max-width: 340px;
      padding: 22px 10px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    margin-top: auto;

    li {

      @include media(md, max) {
        transform: scale(0.8);
      }
    }
  }

  &__toggle,
  &__top,
  .social {

    @include media(xl) {
      display: none;
    }
  }

  .search {

    @include media(lg) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;

    @include media(xl) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
    }
  }

  &__item {
    position: relative;

    svg {
      transition: 0.3s;
    }

    &:hover {
      .nav-menu__sub-container {
        @include media(xl) {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          transform: scale(1, 1);
        }
      }

      .nav-menu__link {
        @include media(xl) {
          opacity: 0.5;
        }
      }
    }

    &.open {
      .nav-menu__sub-container {
        @include media(xl, max) {
          padding-top: 20px;
          max-height: 1000px;
          opacity: 1;
        }
      }

      .nav-menu__link-toggel {
        @include media(xl, max) {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &__link-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    min-width: 126px;
    gap: 18px;

    @include media(md) {
      min-width: 135px;
    }

    @include media(xl) {
      min-width: inherit;
    }
  }

  &__link {
    font-size: 18px;

    @include media(md) {
      font-size: 20px;
    }

    &:hover {
      @include media(xl, max) {
        opacity: 0.5;
      }
    }
  }

  &__link-toggel {
    display: block;
    cursor: pointer;
    flex-shrink: 0;
    line-height: 0;
    transform: scale(1,-1);
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    @include media(xl) {
      display: none;
    }
  }

  &__sub-container {

    @include media(xl, max) {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: 0.3s;
    }

    @include media(xl) {
      display: block;
      padding: 20px 0 0 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      transform: translate(0, 20px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: transform 0.3s;
      width: max-content;
    }
  }

  &__sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media(xl) {
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #fff;
      overflow: hidden;
      padding: 20px;
    }
  }

  &__sub-item {
    display: flex;

    a {
      color: $color-secondary;

      &:hover {
        color: $text-color;
      }
    }
  }
}
